@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    /* background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
    background-position: center;
    background-size: cover; */
    background-color: rgb(0, 0, 0);
  }

  a{
    text-decoration: none;
  }