.c {
    height: 100vh;
    position: relative;
    background-color: rgb(59, 59, 59);
    /* width: 90%; */

}

.success {
    background-color: rgb(15, 233, 15);
    color: white;
    padding: 15px;
    position: absolute;
    font-weight: 500;
    top: 40%;
    left: 40%;
    box-shadow: black 0px 0px 10px 3px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: red;
    position: absolute;
}

.c-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 50px;
}

.c-left {
    flex: 1
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-title {
    width: 80%;
    font-size: 60px;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.c-icon {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}


/* this is right part */
/* this is for form */

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* padding: 0 50px; */
}

b {

    color: white;
}

input {
    width: 95%;
    height: 45px;
    /* border: none; */
    border-radius: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 10px 0;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    background-color: rgb(70, 70, 70);
    min-width: 500px;
    max-width: 500px;
}

input:hover {
    box-shadow: white 0px 0px 5px 2px;
}

input:focus {
    box-shadow: white 0px 0px 5px 5px;
}

textarea {
    width: 95%;
    height: 150px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 10px 0;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    background-color: rgb(70, 70, 70);
    min-width: 500px;
    max-width: 500px;
}

textarea:hover {
    box-shadow: white 0px 0px 5px 2px;
}

textarea:focus {
    box-shadow: white 0px 0px 5px 3px;

}

/* button {
    height: 50px;
    width: 100px;
    background-color: rgb(30, 223, 30);
    cursor: pointer;
} */



/*  --------------------- Responsiveness  work  --------------------- */

@media screen and (max-width:640px) {

    .c-wrapper {
        flex-direction: column;
        padding: 0px 30px;
    }

    .c-title {
        /* width: 80%; */
        font-size: 25px;
    }



    .c-info-item {
        padding: 0;
        margin: 0px;

    }

    .c-icon {
        width: 30px;
        height: 30px;
        padding-left: 0px;
        padding-right: 5px;
    }

    /* .c-desc {
        display: none;
    } */




    form {
        margin-top: 10px;
    }

    input {
       
        height: 35px;
        font-size: 14px;
        max-width: 250px;
        min-width: 250px;
    }


    textarea {
        font-size: 14px;
        max-width: 250px;
        min-width: 250px;
    }

    button {
        height: 45px;
        background-color: rgb(30, 223, 30);
        cursor: pointer;
    }


}