.main-contanier{
    min-height: 100vh;
    width: 100%;
    /* padding: 0 30px; */
    padding-top: 50px;
    /* background:linear-gradient(90deg, rgb(65, 1, 65), rgb(0, 55, 117)); */
    background-color: black;

}

/* #home{ */
    /* background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
    background-position: center;
    background-size: cover; */
    /* background:linear-gradient(90deg, rgba(92, 1, 92, 0.7), rgba(0, 55, 117, 0.7)); */

/* } */
/* #about{
    background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
    background-position: center;
    background-size: cover;
} */
/* #portfolio{
    background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
    background-position: center;
    background-size: cover;
} */
/* #contact{
    background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
    background-position: center;
    background-size: cover;
} */

.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: #2196f3;
}