


nav{
    background-color: #00000080;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    margin: 0;
    z-index: 1;
}
.hamburger-menu{
    cursor: pointer;
    color: white;
}
.logo{
    color: white;
    cursor: pointer;
    font-size: 30px;
}
.logo:hover{
    color:gold
}
nav ul li{
    display: inline;
    margin:10px 20px;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: inline;
    color: white;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.container{
    /* background-color: yellow; */
    margin: 20px;
}

.header-text{
    font-size: 30px;
    color: white;
}
.header-text h1::after{
    content: 'Tarun Kumar';
    color: red;
}


/*----------- home ---------- */

#home{
        width: 100%;
        min-height: 100vh;
        color: white;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
        background-position: center;
        background-size: cover;
        /* background-color: transparent; */

}
#home h1{
    font-size: 50px;
}
.resume {
    background-color: rgb(198, 25, 241);
    padding: 10px 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    outline: none;
    border-radius: 10px;
    transition: 0.4s;
    margin-top: 50px;
    border: none;
}
.resume a{
    color: white;

}
.resume:hover {
    box-shadow:0px 0px 5px 2px  rgb(204, 68, 238);
}
/*----------- about ---------- */

#about{
        width: 100%;
        min-height: 100vh;
        color: white;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: url('https://e0.pxfuel.com/wallpapers/259/322/desktop-wallpaper-technology-ultra-technology.jpg');
        background-position: center;
        background-size: cover; */
        /* background-color: transparent; */
        background: linear-gradient(90deg, rgb(1, 1, 122,0.5),rgb(134, 1, 134,0.5));

}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.about-col-1{
    width:  25%;
    min-width: 350px;
}

.about-col-1 img{
    border-radius: 15px;
    width: 100%;
}


.about-col-2{
    width: 70%;
    min-width: 350px;
    
}
.about-col-2 h1{
 font-size: 60px;
    
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 90%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: red;
}

.tab-contents{
    display: none;
}

.active-tab{
    display: block;
}

.skill-icons{
    display: flex;

}
.skill-icons img{
    width: 30px;
    margin-right: 25px;
    transition: 0.2s;
}
.skill-icons img:hover{
   scale: 1.2;
}


     /* ----------- services ----------   */

/* 
#services{
    padding: 50px 0;
    height: 100vh;
    width: 100%;
} */







/* ----------- portfolio ----------  */
#portfolio{
    /* background-color: rgb(160, 23, 172); */
    padding: 50px 0;
    min-height: 100vh;
    width: 100%;
}
.sub-title{
    margin-left: 30px;
}
.project-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

}
.card{
    margin: 30px;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
    /* z-index: -1; */
}


.card:hover{
    box-shadow: 5px 5px 25px 5px rgb(221, 11, 11);

}
.card:hover img{
    scale: 1.15;    
}



.img-container{
    width: 350px;
    height: 200px;
    overflow: hidden;

}
.img-container img{
    width: 350px;
    transition:  0.5s;
}

.card-info{
    height: 400px;
    background-color:rgba(27, 26, 26, 0.4);
    position: absolute;
    bottom: -200px;
    left: 0px;
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
   
}
.card:hover .card-info{
    bottom: 0px;
    
    background-color: rgba(29, 27, 27, 0.8);

}
.card-details{
    display: flex;justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    text-align: center;
}


.card-details p{
    font-size: 16px;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btns a{
    background-color: yellow;
    width: 140px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    transition: 0.3s;
    text-decoration: none;
}
.btns a:hover{
    background-color: rgb(58, 58, 58);
    color:#fff;
}
.btns a img{
    width: 20px;
}



/* ----------- contact ----------  */
#contact{
    /* background-color: rgb(75, 88, 15); */
    padding: 60px 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(1, 1, 51, 0.5),rgba(66, 0, 66, 0.5));

}


.row{
    color: white;
    /* background-color: red; */
    padding: 50px ;
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
}
.contact-left{
    width: 350px;
}
.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.social-icons a, p{
    text-decoration: none;
    margin: 10px 0;
    color: white;
    display: flex;
    align-self: flex-start;
    font-size: 18px;
}
.icons{
    width: 30px;
    margin-right: 20px;
    transition: 0.5s;
}
.icons:hover{
  scale: 1.15;
}


.contact-right  form{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.input{
    width: 400px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    /* background: #7e7e7e; */
    
    
}
form button{
    background-color: yellow;
    border-radius: 5px;
    padding: 5px 5px;
    border: 2px solid white;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;

}

form button:hover{
    background-color: rgb(58, 58, 58);
    color:#fff;
   
}

.success{
    color: green;
}
.error{
    color: red;
}
@media screen and (max-width:600px) {
  
    .about-col-1{
        display: flex;
    }
    .about-col-2 h1{
       font-size: 35px;
    }
    .about-col-1 img{
        border-radius: 15px;
        width: 70%;
        margin: auto;
    }
    .btns a{
        font-size: 14px;
    
    }
    .btns a img{
        font-size: 14px;
    }
    .img-container{
        width: 320px;
        height: 200px;
        overflow: hidden;
    
    }
    .sub-title{
        font-size: 35px;
    }
    .social-icons a, p{
        font-size: 14px;
    }
    .social-icons icons{
        font-size: 14px;
    }
    .icons{
        width: 20px;
        
    }

}